/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
header{
    display: flex;
    background-color: #FF6800;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px;
}

/* header */
header .content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
    margin: 0 10%;
}

 img[alt="logo"]{
    width: 15%;
}

/* main section */
/* main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.product .card-image{
    background-color: #FF6800;
    width: 30%;
    height: 300px;
}




